<%- include("template/cabecera.ejs", {tituloWeb: "Crear Pokemones" })%>

    <div class="mx-auto col-md-4 p-5 shadow rounded mt-4">
        <form>
            <div class="form-group">
                <label for="username">Nombre del pokemon:</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            <div class="form-group">
                <label for="username">Tipo:</label>
                <input type="text" class="form-control" name="tipo">
            </div>
            <div class="form-group">
                <label for="username">Descripción:</label>
                <input type="text" class="form-control" name="descripcion">
            </div>
            <div class="form-group">
                <label for="username">Acción:</label>
                <input type="text" class="form-control" name="accion">
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
            <a href="pokemon"><button type="button" class="btn btn-danger">Cancelar</button></a>
        </form>
    </div>

<%- include("template/footer.ejs")%>